/* #game {
    height: 100vh;
    display: flex;
    flex-direction: column;
} */
#game .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#game .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

#game .logo {
    height: 90vh;
}
#game .logo img {
    width: 100%;
    height: 100%;
}

#game .deck-cards {
    width: 50%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
}
#game .deck-cards .cards-box {
    width: 100%;
    display: flex;
    margin-left: 5%;
}
#game .deck-card {
    position: relative;
}
#game .card-wrapper {
    width: 80px;
    height: 150px;
    border: 3px solid grey;
    border-radius: 5px;
    overflow: hidden;
}
#game .card-wrapper img {
    width: 100%;
    height: 100%;
}

#game .deck-card:hover {
    transform: rotate(-10deg) translateY(-15px);
}
#game .deck-card:hover .card-wrapper {
    box-shadow: 0 0 20px 3px blue;
    z-index: 2;
}
#game .deck-card.selected {
    z-index: 1;
}
#game .deck-card.selected .card-wrapper {
    box-shadow: 0 0 6px 3px white;
}
#game .deck-card.selected .card-wrapper .front {
    display: block;
}
#game .deck-card .card-wrapper .front {
    display: none;
}
#game .deck-card.selected .card-wrapper .back {
    display: none;
}
#game .deck-card .card-wrapper .back {
    display: block;
}

#game .control {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#game .control .cards-hand {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
}
#game .control .preview .thumbs img {
    width: 100%;
}
#game .control .cards-hand .card-wrapper {
    width: 25%;
    height: auto;
    margin: 16px;
}
#game .control .preview {
    width: 90%;
}

#game button.play {
    margin-left: 5%;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;

    border-color: transparent transparent transparent #DDDDDD;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 37px 0 37px 60px;
}
#game button.play.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
}
#game button.play:hover {
    border-color: transparent transparent transparent #999999;
}

#game .timeline {
    padding: 0 5% 5% 0;
    display: flex;
    align-items: center;
}
#game .timeline .line {
    width: 100%;
    height: 20px;
    border: 2px solid white;
}
#game .timeline .line .progress {
    width: 40%;
    height: 16px;
    background-color: red;
}

#game .quotes {
    display: flex;
    align-items: center;
    justify-content: center;
}
#game .quotes .quote {
    width: 40%;
    padding: 1%;
}
#game .quotes .quote p {
    width: 100%;
    text-align: center;
}
#game button {
    width: 10%;
    background: black;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 38px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #00f,
        0 0 42px #00f,
        0 0 82px #00f,
        0 0 92px #00f,
        0 0 102px #00f,
        0 0 151px #00f;
}
#game button:hover {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
}

#game .continue {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}
#game .continue button {
    background: rgba(0,0,0,0);
    z-index: 10;
    width: 30%;
    height: 30%;
}











